version: '3.3'

volumes:
    postgres_data: {}
{% if cookiecutter.use_portainer == 'y' %}
    portainer_data: {}
{% endif %}


services:
  backend:
    build:
      context: ./backend
    depends_on:
      - database
    volumes:
      - ./backend:/app
    command: /gunicorn.sh
    {% if cookiecutter.db == 'PostgreSQL' %}
    entrypoint: /entrypoint.sh
    {% endif %}
    restart: on-failure
    env_file: .env

  {% if cookiecutter.db == 'PostgreSQL' %}
  database:
    image: postgres:10-alpine
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file: .env
    ports:
      - '5432:5432'
  {% elif cookiecutter.db == 'MySQL' %}
  database:
    image: mysql:5.7
    restart: always
    volumes:
      - db_data:/var/lib/mysql
    env_file: .env
    ports:
      - '3306:3306'
  {% elif cookiecutter.db == 'MongoDB' %}
  database:
    image: mongo:latest
    restart: always
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    volumes:
      - db_data:/data/db
    ports:
      - '27017:27017'
    command: mongod --smallfiles --logpath=/dev/null
  {% endif %}

  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    ports:
      - "8000:80"
    depends_on:
      - backend
    volumes:
      - ./backend/media/:/media/
      - ./backend/staticfiles/:/staticfiles/
      - ./nginx/prod.conf:/etc/nginx/nginx.conf:ro


{% if cookiecutter.backups == 'y' %}
  backups:
    image: prodrigestivill/postgres-backup-local
    restart: on-failure
    depends_on:
      - postgres
    volumes:
      - /tmp/backups/:/backups/
{% endif %}

{% if cookiecutter.use_portainer == 'y' %}
  portainer:
    image: portainer/portainer
    ports:
      - "9000:9000"
    command: -H unix:///var/run/docker.sock
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
{% endif %}
