# NOTICE:
# Vue app will only detect VUE_APP_* envs

# Django
DEBUG=True
SECRET_KEY=CHANGEME!!!

DOMAIN=http://localhost:8000
ALLOWED_HOSTS=*

# Database
DB_NAME={{cookiecutter.project_slug}}
DB_PASSWORD=mysecretpass
DB_USER={{cookiecutter.project_slug}}
DB_HOST=database

{% if cookiecutter.db == 'PostgreSQL' %}
POSTGRES_DB={{cookiecutter.project_slug}}
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER={{cookiecutter.project_slug}}
{% elif cookiecutter.db == 'MySQL' %}
MYSQL_DATABASE={{cookiecutter.project_slug}}
MySQL_USER={{cookiecutter.project_slug}}
MYSQL_PASSWORD=mysecretpass
MYSQL_ROOT_PASSWORD=mysecretrootpass
{% endif %}

{% if cookiecutter.analytics == 'Google Analytics' -%}
# Google Analytics
VUE_APP_GOOGLE_ANALYTICS=UA-XXXXXXXXX-X
{% endif %}
